#wrapper {
    height: 100%;
    background-color: #1DA1F2;
    background-image: url('../../assets/img/bluebird-1041262_960_720.png');
    background-repeat: no-repeat;
    background-position-x: center;
}

#message {
    position: relative;
    top: 15%;
}

h2 {
    text-align: center;
    color: white;
}