<h1>Board: {{board.name}}</h1>

<div id="interest-header">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Nuevo interes</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <div class="input-group">
            <input #interestValue id="interestValue" class="form-control" placeholder="Interest value">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close(interestValue.value)">Crear</button>
    </div>
  </ng-template>

  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Crear interes</button>
</div>

<div id="interest-list" *ngIf="interests.length > 0">
  <div id="interest-item" *ngFor="let interest of interests; trackBy:identifyFor">
    <div id="interest-item-name">{{interest.value}}</div>
    <button id="interest-item-remove" (click)="removeInterest(interest)" class="btn btn-outline-dark">X</button>
  </div>
</div>

<!--
<div id="tweet-list" *ngIf="tweets.length > 0">
  <div id="tweets-item" *ngFor="let tweet of tweets; trackBy:identifyFor">
    <div id="tweets-item-name">{{tweet.text}}</div>
  </div>
</div>
-->

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Texto</th>
      <th scope="col">Fecha</th>
      <th scope="col">Usuario</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tweet of getTweetsPaginated; trackBy:identifyFor">
      <th scope="row">{{ tweet.text }}</th>
      <td>{{tweet.createdAt  | date:'yyyy-MM-dd HH:mm'}}</td>
      <td>{{ tweet.fromUser }}</td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="tableCompleteSize()" [(page)]="page" [pageSize]="pageSize">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
    <option [ngValue]="10">10</option>
    <option [ngValue]="20">20</option>
    <option [ngValue]="30">30</option>
  </select>
</div>