#details, #sidebar {
    float: left;
    padding: 7px;
}

#sidebar {
    width: 25vw;
    background-color: #1da1f2;
    min-height: 150vh;
    /*shadow */
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 5px 5px 5px #ccc;
}

#user-image {
    width: 96px;
    height: 96px;
}

#details {
    width: 70vw;
}